* {
  font-family: "Roboto Condensed", sans-serif;
}

html body {
  background-color: #f4f5f6;
}

header .container-fluid {
  max-width: 1350px;
}

.main-header {
  background-color: #f72210;
}

.main-header .logo {
  display: none;
  left: 33%;
  top: 20px;
}

.header-buttons button {
  background-color: #ffe400;
  border-radius: 15px;
}

.wrapper {
  background-color: #fff;
}

.container-fluid {
  background-color: #fff;
  max-width: 1250px;
}

.header-navbar input {
  max-width: 100%;
}

.versus-detail {
  position: relative;
}

.versus-detail div {
  background-color: black;
  color: white;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  left: 45%;
  top: -13px;
  position: absolute;
}

.versus-detail p {
  position: relative;
  top: 3px;
  left: 6px;
}

.middle-hr {
  background-color: #d9d9d9;
  height: 2px;
}

.extra-hr {
  background-color: #d9d9d9;
  height: 4px;
  border: none;
}

.health-card {
  width: 100%;
}

.health-card img {
  width: 100%;
}

.story-card img {
  float: left;
  margin: 0 15px 0 0;
}

.story-card p {
  font-size: 15px;
}

.email-box {
  background-color: #f4f5f6;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 15px;
  max-width: 295px;
  margin: 0 auto;
}

.n-logo {
  max-width: 30px;
  max-height: 30px;
  margin: 10px;
}

.email-box input {
  border-radius: 3px;
  border: 1px solid #e0e1e1;
  padding: 5px;
}

.email-box button {
  margin-top: 5px;
  border: none;
  background-color: #f61602;
  border-radius: 3px;
}

.tiny-image {
  float: left;
  width: 100px;
  height: 100px;
}

@media only screen and (min-width: 768px) {
  .health-card {
    width: 120px;
  }

  .news-wrapper .f-column {
    position: sticky;
    top: 0;
  }

  .news-wrapper .t-column {
    position: sticky;
    top: 0;
  }
}

@media only screen and (min-width: 1024px) {
  .main-header {
    height: 120px;
  }

  .health-card {
    width: 140px;
  }

  .news-wrapper .f-column {
    position: sticky;
    top: 0;
  }

  .news-wrapper .t-column {
    position: sticky;
    top: 0;
  }
}

.img-wrap {
  position: relative;
}

.p-add {
  display: block;
  color: #f72210;
  background-color: rgba(255, 255, 255, 0.9);
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
  margin-bottom: 0;
  padding: 5px 15px 5px 15px;
}

.my-flex {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-weight: 800;
  margin-top: 10px;
}

.my-flex p:first-child {
  padding: 2px 10px 2px 10px;
  color: white;
  background-color: red;
  margin-right: 5px;
}

.my-flex p a {
  color: red;
  text-decoration: none;
}

h3 a:hover {
  text-decoration: underline;
  text-decoration-color: red;
}
