* {
  font-family: "Roboto Condensed", sans-serif;
}

html body {
  background-color: #f4f5f6;
}

footer a {
  text-decoration: none;
  color: black;
}

.main-header {
  background-color: #f61602;
  height: 50px;
  width: 100vw;
}

.logo-container {
  width: 158px;
}

.logo-container img {
  width: 100%;
}

.main-header button {
  background-color: #ffe400;
  border-radius: 15px;
}

.wrapper {
  background-color: #fff;
}

.container-fluid {
  background-color: #fff;
  max-width: 1250px;
  margin-top: 30px;
  padding-top: 1px;
}

.header-navbar input {
  width: 70px;
}

.versus-detail div {
  background-color: black;
  width: 30px;
  height: 30px;
  left: 45%;
  top: -13px;
}

.versus-detail p {
  top: 3px;
  left: 6px;
}

.middle-hr {
  background-color: #d9d9d9;
  height: 2px;
}

.extra-hr {
  background-color: #d9d9d9;
  height: 4px;
}

.story-card img {
  margin: 0 15px 0 0;
}

.story-card p {
  font-size: 15px;
}

.email-box {
  background-color: #f4f5f6;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 15px;
  max-width: 295px;
  margin: 0 auto;
}

.n-logo {
  max-width: 30px;
  max-height: 30px;
  margin: 10px;
}

.email-box input {
  border-radius: 3px;
  border: 1px solid #e0e1e1;
  padding: 5px;
}

.email-box button {
  margin-top: 5px;
  border: none;
  background-color: #f61602;
  border-radius: 3px;
}

.tiny-image {
  width: 100px;
  height: 100px;
}

.p-add {
  display: block;
  color: #f72210;
  background-color: rgba(255, 255, 255, 0.9);
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
  margin-bottom: 0;
  padding: 5px 15px 5px 15px;
}

.my-flex {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-weight: 800;
  margin-top: 10px;
}

.my-flex p:first-child {
  padding: 2px 10px 2px 10px;
  color: white;
  background-color: red;
  margin-right: 5px;
}

.my-flex p a {
  color: red;
  text-decoration: none;
}

h3 a:hover {
  text-decoration: underline;
  text-decoration-color: red;
}

.covers-wrapper {
  display: flex;
  justify-content: center;
}

.cover-magazine {
  left: 40%;
  top: 30px;
}

.subs-block {
  background-color: #f4f5f6;
}

.text-wrapper {
  margin-top: 40px;
  text-align: center;
}

.newsletter-img img {
  object-fit: cover;
  width: 100%;
  height: 170px;
}

h4 a:hover {
  text-decoration: underline;
  text-decoration-color: red;
}

@media only screen and (min-width: 768px) {
  .news-wrapper .f-column {
    position: sticky;
    top: 0px;
  }

  .news-wrapper .t-column {
    position: sticky;
    top: 0;
  }

  .covers-wrapper {
    display: inline;
  }
  
  .cover-magazine {
    left: 60px;
    top: 50px;
  }

  .text-wrapper {
    text-align: start;
  }

  .newsletter-img img {
    width: 100%;
    height: 200px;
  }
}

@media only screen and (min-width: 992px) {
  header .extra {
    position: relative;
    top: 0;
  }

  .main-header {
    max-width: 1250px;
    position: relative;
    left: -15px;
    height: 100px;
  }

  .logo-container {
    position: absolute;
    left: 37%;
    top: 10px;
    width: 300px;
  }

  .news-wrapper .f-column {
    position: sticky;
    top: 0;
  }

  .news-wrapper .t-column {
    position: sticky;
    top: 0;
  }

  .detail-bar::after {
    content: "";
    border-right: 1px solid #6c757d;
    padding: 3px;
  }
  
  .newsletter-img img {
    width: 190px%;
    height: 301px;
  }
}

.img-wrap {
  position: relative;
}

.magazine {
  margin-top: 30px;
  font-size: 20px;
}

.magazine span:first-child{
  background-color: rgb(244,63,43);
  font-weight: 800;
  padding-left: 10px;
  margin-right: 5px;
}

.my-magazine {
  margin-top: 0;
}